<a href="https://colab.research.google.com/github/dhairyav-s/Board_Infinity/blob/master/Lecture_2_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


##Task 1
1) Ask the user for his age, if age greater than 18 then print adult, if less then print
teenager, remember to set the datatype to an integer like so, int(input())

In [2]:
print("Kindly enter your age:")
age = int (input())
if age > 18:
  print ("You are an adult.")
else:
  print ("You are a Teenager.")

Kindly enter your age:
15
You are a Teenager.

2) Make a personal loan approving system, Ask the user for his monthly income.Then ask him if he has an ongoing loan (yes|no), if the user’s income is more than 100000, and his answer to an ongoing loan is no then approve his loan, else reject his loan.

In [14]:
print ("Kindly enter your monthly income: ")
income = int (input())

if income > 100000:
  print ("Do you have an on going loan (Y/N):")
  loan = str (input())
  if loan != "N" :
    print ("Sorry your application is rejected.")
  else :
    print ("Congratulations, your application is accepted.")
else:
  print ("Sorry your application is rejected.")

Kindly enter your monthly income:
6451816876
Do you have an on going loan (Y/N):
N
Congratulations, your application is accepted.

3) Ask the user if Female (yes|no), if ‘yes’ then print ‘You are a Girl’ else print, ‘You are a
boy’

In [16]:
print ("Are you a Female (Yes/No): ")
gender = str (input())
if gender != "No":
  print ("You are a Girl")
else:
  print("You are a Boy")

Are you a Female (Yes/No):
Yes
You are a Girl

##Task 2
1. Make a list of random numbers and print them all using a for loop

In [21]:
num = [2,34,23,34,45,56,3,67,78,34]
for x in num:
  print (x)

2
34
23
34
45
56
3
67
78
34

2. Make a list of random number and print only even numbers

In [25]:
for x in num:
  if x%2==0:
    print (x)

2
34
34
56
78
34

3. Make a dictionary called (myself) with the following keys (name, age, gender and
favourite food) and using a for loop print out only the keys

In [28]:
myself = {"name":"Dhairyav Shah","Age":22,"Gender":"Male","Favourite Food":"Pizza"}
for x in myself:
  print(x)

name
Age
Gender
Favourite Food

4. From the dictionary ‘myself’, print only the values

In [30]:
for x in myself:
  print(myself[x])

Dhairyav Shah
22
Male
Pizza

##Task 3
1. Create a method that takes the persons name as argument and returns it

In [0]:
def name(person) :
  return (person)

In [38]:
print("enter your name:")
person =  str(input())
name(person)

enter your name:
djs

'djs'

In [40]:
print ("enter your name:")
first_name = str (input())
name(first_name)

enter your name:
krish

'krish'

2. Create a function that takes a dictionary as an input and prints all the keys of the
dictionary

In [0]:
def keys_print(printkeys):
  return printkeys.keys()

In [43]:
keys_print(myself)

dict_keys(['name', 'Age', 'Gender', 'Favourite Food'])

3. Create a function that takes a list of 10 random numbers and prints out only odd numbers.

In [0]:
random_num = [0,1,2,3,4,5,6,7,8,9]
def print_odd(odd):
  for x in odd:
    if x%2 != 0:
      print (x)

In [49]:
print_odd(random_num)

1
3
5
7
9

In [50]:
print_odd(num)

23
45
3
67

##Task 4
define 4 variables of type,
string, float, integer and boolean
print the data type for each variables
1. integer to float
2. string to integer
3. integer to string
4. bool to string
Then print the data types for each variables

In [0]:
Name = "Dhairyav"
Age = 22
Gender = True
SSC = 84.80

In [55]:
type(Name)

str

In [54]:
type(Age)

int

In [56]:
type(Gender)

bool

In [57]:
type(SSC)

float

In [70]:
#int to float
Age = float(Age)
print(Age)
type (Age)

22.0

float

In [71]:
# float to int
Age = int(Age)
print(Age)
type (Age)

22

int

In [72]:
#int to str
Age = str(Age)
print(Age)
type (Age)

22

str

In [73]:
# str to int
Age = int (Age)
print(Age)
type (Age)

22

int

In [74]:
# bool to int
Gender = str (Gender)
print (Gender)
type(Gender)

True

str

##Task 5
Import the following class from SKlearn API,
refer to the class notebook for reference,
you may also google search the solution as I thought you in the class.
Make sure you install sklearn in your notebook using
!pip install sklearn
Then import the following.

1. Random forest
2. Gaussian Naive bayes
3. Decision tree
4. Linear regression
5. KMeans
6. Train test split
7. Classification report
8. Accuracy

In [75]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.22.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (0.14.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.17.5)

In [0]:
from sklearn.ensemble import RandomForestClassifier
help(RandomForestClassifier)

In [0]:
from sklearn.naive_bayes import GaussianNB
help(GaussianNB)

In [0]:
from sklearn import tree
help(tree)

In [0]:
from sklearn.linear_model import LinearRegression
help(LinearRegression)

In [0]:
from sklearn.cluster import KMeans
help(KMeans)

In [0]:
from sklearn.model_selection import train_test_split
help(train_test_split)

In [0]:
from sklearn.metrics import classification_report
help(classification_report)

In [0]:
from sklearn.metrics import accuracy_score
help(accuracy_score)